// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : hsl(0, 0%, 7%);
$secondary : hsl(153, 48%, 49%);
$accent    : #9C27B0;

$primary-200: hsl(0, 0%, 15%);
$primary-300: hsl(0, 0%, 13%);
$primary-400: hsl(0, 0%, 10%);
$primary-500: hsl(0, 0%, 7%);

$secondary-500: hsl(153, 48%, 49%);
$secondary-300: hsl(153, 100%, 60%);

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #be3b48;
$info      : #31CCEC;
$warning   : #F2C037;
